.save__image:first-child {
  position: absolute;
  top: 22px;
  left: 0;
  z-index: 1;
  border-radius: 15px;
}

.save__image:nth-child(2) {
  position: absolute;
  top: 22px;
  right: 0;
  z-index: 2;
  border-radius: 15px;
}

.save__image:last-child {
  z-index: 3;
  position: relative;
  margin: 0 0 0 44px;
  border-radius: 15px;
}
