.header {
  width: 100%;
  height: 782px;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(../../images/Rec.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
