.features__link {
  width: 253px;
  margin: 5px auto 0 auto;
  color: #ED4C5C;
  font-family: 'Lato';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  display: block;
  text-decoration: none;
  transition: opacity .3s linear .1s;
}

.features__link:hover {
  opacity: .4;
}
