.form__input {
  width: 100%;
  height: 19px;
  outline: 0;
  border: 0;
  margin: auto 0 auto 31px;
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(19, 39, 67, .5);
  opacity: .5;
}
