.save__title {
  font-family: 'Lato';
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  width: 445px;
  height: 107px;
  color: #FFF;
  margin: 0;
}
