.tech__number {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
  color: rgba(16, 16, 16, 0.08);
  width: 117px;
  height: 120px;
  margin: 0 auto;
}
